html, body {
    height: 100%;
    width: 100%;
    color: #ffffff;
    background-image: url('/img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1, h4 {
    text-align: center;
}

.logo-site {
    height: auto;
    position: relative;
    margin-left: auto;
}

nav ul li {
    height: 25px;
    position: relative;
    margin-left: 20px;
    display: inline-block;
    color: #2F2D2D;
}

nav ul li a {
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #ffffff;
    font-size: 26px;
}

#conteudo {
    width: auto;
    height: auto;
}

footer {
    border-top: 2px ridge #8b8b8b;
    color: #ffffff;
    text-align: center;
    margin: 25px;
    padding: 5px;
}

.FnB {
    font-weight: bolder;
}

form {
    margin-left: 25%;
    margin-right: 25%;
    height: 40%;
    padding: 40px;
    border-radius: 40px;
    border-style: ridge;
    text-transform: uppercase;
    text-align-last: center;
}

.form-nome {
    width: 180px;
    margin-left: 50px;
}

.form-fone {
    width: 180px;
    margin-left: 16px;
}

.form-email {
    width: 180px;
    margin-left: 40px;
}
