html,
body {
    height: 100% !important;
    width: 100% !important;
    margin: auto !important;
    color: #EEEEEE;
    background-image: url("/img/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    margin-left: 14px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.redes-sociais ul li {
    margin-top: 35%;
    margin-right: 26px;
    display: inline-block;
    list-style: none;
}

.redes-sociais ul li:hover {
    -webkit-animation: swing 1s ease;
    animation: image-move 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@keyframes image-move {
    15% {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }
    30% {
        -webkit-transform: translateX(-7px);
        transform: translateX(-7px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

p,
h1,
h2,
h3,
h4 {
    margin-left: 26px;
}

nav {
    margin-left: -41px;
    padding: 2px;
}

nav ul li {
    height: 25px;
    position: relative;
    margin-left: 26px;
    display: inline-block;
    color: #2f2d2d;
}

nav ul li a {
    color: #EEEEEE;
    font-family: "Bebas Neue", cursive;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #EEEEEE;
    border-bottom: 3px ridge #CF0A0A;
    font-size: 26px;
}

#conteudo {
    width: 0 auto;
    height: 0 auto;
}

footer {
    border-top: 2px ridge #8b8b8b;
    color: #EEEEEE;
    text-align: center;
    margin: 25px;
    padding: 5px;
}

.FnB {
    font-weight: bolder;
}

form {
    margin-left: 25%;
    margin-right: 25%;
    height: 40%;
    padding: 40px;
    border-radius: 40px;
    border-style: ridge;
    text-transform: uppercase;
    text-align-last: center;
}

.form-nome {
    width: 180px;
    margin-left: 50px;
}

.form-fone {
    width: 180px;
    margin-left: 16px;
}

.form-email {
    width: 180px;
    margin-left: 40px;
}
